@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');


body {
    font-family: "Alegreya", sans-serif;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(180deg, #DAE7D5 0%, rgba(34, 147, 6, 0.72) 100%); */
}

/* tela especies */

.container {
    width: 80.5vw;
    height: 100vh;
    border-radius: 18px;
    background: linear-gradient(180deg, #DAE7D5 0%, rgba(34, 147, 6, 0.72) 100%);
    /* border: solid 1px red; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    width: 12%;
    height: 95%;
    /* border: solid 1px red; */
}

.logo img {
    width: 50%;
}

.combo_box {
    display: flex;
    align-items: center; 
    flex-direction: row;
    /* justify-content: flex-start; */
    width: 100%;
    height: 90%;
    /* border: solid 1px black; */
}

.combo_box h4 {
    margin: 20px;
    width: 95%;
    font-size: 28px;
    /* border: solid 1px yellow; */
}

.embrulho_combo {
    display: flex;
    /* margin: 5px; */
    flex-direction: column;
    width: 98%;
    height: 16%;
    border-radius: 20px;
    background-color: #3d962c;
    /* border: solid 1px blue; */
}

.embrulho_select {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 99.5%;
    height: 85%;
    /* border: solid 1px red; */
}

.seleCadas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 10px;
    /* border: solid 1px blue; */
}

#select_animais {
    width: 50%;
    background-color: #29b843;
    /* border: solid 1px blue; */
}

#select_animais::-ms-expand {
    display: none;
}

#select_animais {
    /* flex: 1; */
    width: 40%;
    /* padding: 0 .5em; */
    color: black;
    cursor: pointer;
    background-color: rgb(248, 236, 0);
    position: relative;
    display: flex;
    padding: 3%;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}

#select_animais:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn_especie {
    display: flex;
    /* justify-content: center;  */
    width: 36%;
    /* height: 100%; */
    /* border: solid 1px green; */
}

.embrulho_saibaMais {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    width: 40%;
    /* border: solid 1px green; */
}

.redirecionamento {
    display: flex;
    align-items: center;    
    justify-content: space-around;
    width: 50%;
    /* border: solid 1px yellow; */
}

.container_grafico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 81.5%;
    width: 100%;
    /* border: solid 1px orange; */
}

.grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    height: 75%;
    width: 55%;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* position: fixed; */
    border: solid 2px black;
}

/* canvas{
    height: 70%;
    width: 70%;
} */

.texto_grafico {
    font-size: 18px;
    height: 50%;
    font-weight: bold;
    /* border: solid 1px blue; */
}

.texto_boasVindas {
    /* display: none; */
    text-align: center;
    width: 40%;
    height: 85%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: solid 2px  black; */
    
}

.gifGuepardo {
    /* border: solid 1px red; */
    background-image: url('../assets/guepardoG.gif');
    background-size:550px;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 5px;
    width: 98%;
    height: 44%;
    border-radius: 10px;
}


.embrulhotexto {
    border-radius: 15px;
    /* border: solid 1px black; */
}

.embrulhotexto p {
    font-size: 20px;
    /* border: solid 1px red; */
}

.embrulho_card1 {
    /* display: flex; */
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card2 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card3 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card4 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card5 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card6 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card7 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card8 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card9 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card10 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card11 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card12 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card13 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card14 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card15 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card16 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card17 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card18 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 45%;
    height: 92%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

li {
    width: 96%;
    font-size: 15px;
    margin: 10px;
    /* border: solid 1px blue; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid rgb(218, 249, 16);
}

.imagem_animal1 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal2 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal3 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal4 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal5 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal6 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal7 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal8 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal9 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal10 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal11 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal12 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal13 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal14 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal15 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal16 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal17 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagem_animal18 img {
    border-radius: 50%;
    width: 170px;
    height: 160px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    /* border: solid 1px blue; */
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    /* border: solid 1px blue; */
}

.imagem_rapido {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50%;
    /* border: solid 1px red; */
}

.imagem_forca {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 48%;
    flex-direction: column;
    /* border: solid 1px red; */
}

.card {
    display: flex;
    border-radius: 15px;
    height: 68%;
    overflow: scroll;
    overflow-x: hidden;
    border: solid 3px black;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300%;
    /* border: solid 1px black; */
}

.texto h2 {
    width: 98%;
    color: yellow;
    text-align: center;
    /* border: solid 1px black; */
}

.card h4 {
    margin: 10px;
    color: black;
    text-align: center;
    /* border: solid 1px black; */
}


.cadastro {
    text-align: center;
    height: 30%;
    /* border: solid 1px black; */
}

button {
    font-size: 15px;
    background-color: rgb(248, 236, 0);
    border-radius: 12px;
    height: 28px;
    cursor: pointer;
    transition-duration: 1s;
}

button:hover {
    opacity: 0.8;
    background-color: green;
    color: white;
}

h4 {
    color: white;
}

h3 {
    color: white;
}

.color_home {
    color: yellow;
}

.a {
    color: white;
}
