@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Sarala&display=swap");

* {
    margin: 0;
}

body {
    font-family: "sarala", sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* tela especies */

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #DAE7D5 0%, rgba(34, 147, 6, 0.72) 100%);
    /* border: solid 1px red; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: #000;
    /* border: solid 1px yellow; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 13%;
    /* border: solid 1px red; */
}

.logo p {
    color: yellow;
}

.opcoes_nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 30%;
    /* border: solid 1px green; */
}

.opcoes_nav a {
    text-decoration: none;
}

.combo_box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50%;
    /* border: solid 1px orange; */
}

.embrulho_combo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 99%;
    height: 15%;
    border-bottom: black;
    /* border: solid 1px orange; */
}

.embrulho_select {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid 1px red; */
}

.cadastro h4 {
    font-size: 20px;
    color: black;
    /* border: solid 1px brown; */
}

.container_grafico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 74%;
    /* border: solid 1px orange; */
}

.grafico {
    text-align: center;
    margin: 20px;
    height: 63%;
    width: 48%;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
    position: fixed;
}

.texto_grafico {
    height: 50%s;
    /* border: solid 1px blue; */
}

.texto_boasVindas {
    /* display: none; */
    text-align: center;
    width: 40%;
    height: 80%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: solid 1px blue;
}

.embrulhotexto {
    border: solid 1px red;
}

.embrulho_card1 {
    /* display: flex; */
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card2 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card3 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card4 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card5 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card6 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card7 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card8 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card9 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card10 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card11 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card12 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card13 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card14 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.embrulho_card15 {
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    width: 39%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px red; */
}

.imagem_animal1 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal2 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal3 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal4 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal5 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal6 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal7 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal8 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal9 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal10 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal11 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal12 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal13 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal14 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagem_animal15 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border: solid 1px blue; */
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    /* border: solid 1px blue; */
}

.imagem_rapido {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50%;
    /* border: solid 1px red; */
}

.imagem_forca {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 48%;
    flex-direction: column;
    /* border: solid 1px red; */
}

.ponto {
    color: yellow;
}

.card {
    border-radius: 15px;
    height: 70%;
    border: solid 1px black; 
}

.texto h2 {
    color: yellow;
    text-align: center;
}

.card h4 {
    color: black;
    text-align: center;
}

#lista_animais {
    width: 100%;
    background-color: #5c6664;
    /* border: solid 1px blue; */
}

#lista_animais::-ms-expand {
    display: none;
}

#lista_animais {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}

#lista_animais {
    flex: 1;
    padding: 0 .5em;
    color: black;
    cursor: pointer;
    background-color: rgb(73, 153, 63);
}

#lista_animais:hover {
    box-shadow: 2px 2px 2px black;
}

.cadastro {
    text-align: center;
    height: 30%;
    /* border: solid 1px black; */
}

button {
    font-size: 15px;
    background-color: yellow;
    border-radius: 12px;
    height: 28px;
    cursor: pointer;
    transition-duration: 1s;
}

button:hover {
    opacity: 0.8;
    background-color: green;
    color: white;
}

h4 {
    color: white;
}

h3 {
    color: white;
}

.color_home {
    color: yellow;
}

.a {
    color: white;
}


